
body {
    font-size: 20px;
    background-image: url("./image.png");
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 500px;

}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 153);
color: white;
    padding: 20px;
}

.main {
    display: grid;
    height: 800px;    
    padding-top: 130px;
    /* grid-template-columns: 1fr 6fr; */
    grid-template-columns: repeat(auto-fit, minmax(479px, auto));
}

.nav {
    background-color: blue;
    text-align: center;
}

.content {
    background-color: rgb(0, 0, 153);
}

.footer {
    height: 400px;
    text-align: center;
    padding: 20px;
    background-color:blue;
}

.bot {
    bottom: 20PX;
    right : 20PX;
    position: fixed;
    width: 450px;
   
}


.btn {
    font-size: 15px;
    float: right;
    width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: white;
    padding: 8px;
    background-color: rgb(0, 0, 153);
}
